/*
|---------------------------------------------------------------
| Custom Fonts
|---------------------------------------------------------------
|
| Declares any custom font faces to be used within the application,
| references the public font directory within the app - because
| these fonts are local to the system we reduce bandwidth (don't have
| to process external http call to other server)
|
*/

@font-face { font-family: ProximaLight;    src: url(../fonts/ProximaNova-Light.otf); }
@font-face { font-family: ProximaRegular;  src: url(../fonts/ProximaNova-Regular.otf); }
@font-face { font-family: ProximaSemibold; src: url(../fonts/ProximaNova-Semibold.otf); }
@font-face { font-family: ProximaBold;     src: url(../fonts/ProximaNova-Bold.otf); }

@font-face { font-family: HelveticaLight;  src: url(../fonts/HelveticaNeueLTStd-Lt.otf); }
@font-face { font-family: HelveticaMedium; src: url(../fonts/HelveticaNeueLTStd-Md.otf); }
@font-face { font-family: HelveticaThin;   src: url(../fonts/HelveticaNeueLTStd-Th.otf); }

@font-face { font-family: LatoBold;  src: url(../fonts/Lato-Bold.ttf) format('truetype'); }
@font-face { font-family: LatoReg;   src: url(../fonts/Lato-Regular.ttf) format('truetype'); }
@font-face { font-family: LatoLight; src: url(../fonts/Lato-Light.ttf) format('truetype'); }
@font-face { font-family: LatoThin; src: url(../fonts/Lato-Hairline.ttf) format('truetype'); }

/*
|---------------------------------------------------------------
| Global styles
|---------------------------------------------------------------
|
| The following styles declared below behave at 1024 > resolution
| these are then adjusted using media queries further down the
| document.
|
| Only one stylesheet exists to reduce HTTP requests.
|
*/

html, body {
    font-family : HelveticaLight, ProximaRegular, LatoReg, Sans-Serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx--font-smoothing: greyscale;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*
|---------------------------------------------------------------
| Main Window Styles
|---------------------------------------------------------------
|
| Styles for the main window and all of its children
|
*/

#mainWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/timeBg.png) no-repeat;
    background-size: cover;
}

#mainForm {
    display: inline-table;
    position: relative;
    width: 79%;
    height: 100%;
    float:right;
    background: rgba(0,0,0,0.7);

}

#centerPanel {
    display: table-cell;
    vertical-align: middle;
}

#centerPanel form {
    width: 550px;
    height: 250px;
    margin: 0 auto;
}

form input {
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

p.help {
    color: #fff;
    font-size: 1.9em;
}

.fetchBtn {
    width: 30%;
    height: 40px;
    font-size: 1em;
    color: #fff;
    background: #4485db;
    border: 1px solid #56a7db;
}

.fetchBtn:hover {
    background: #4580db;
    border: 1px solid #56a7db;
}

#aliveStats {
    color: #ffffff;
    font-size: 2em;
    width: 550px;
    text-align: center;
    margin: 0 auto;
}

/*
|---------------------------------------------------------------
| Sidebar Styles
|---------------------------------------------------------------
|
| Styles for the sidebar, including the cards
|
*/

#previousFeed
{
    background: #1a1a1a;
    display: inline-block;
    min-width: 350px;
    width: 21%;
    float:left;
    position: fixed;
    height: 100%;
    border-right: 1px solid #1f1f1f;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

.userCard {
    height: 100px;
    position: relative;
    border-bottom: 1px solid #1f1f1f;
}

.userCard .textWrap {
    display: inline-block;
    padding-left: 25px;
    padding-right: 5px;
    margin-top: 25px;
}

.textWrap p:nth-child(1) {
    font-size: 1.5em;
    color: #fff;
}

.textWrap p:nth-child(2) {
    font-size: 1.1em;
    color: #56a7db;
}

.textWrap p {
    padding: 0px;
    margin: 0px;
}

.userCard .accessory {
    height: 100%;
    width: 5px;
    background: #56a7db;;
    position: absolute;
}

.userCard:hover {
    background: #1e1e1e;
}

.hidden {
    display: none;
}

/*
|---------------------------------------------------------------
| Media Queries
|---------------------------------------------------------------
|
| Styles for the sidebar, including the cards
|
*/

@media(max-width: 1100px) {
    #previousFeed {
        height: auto;
        width: 100%;
        position: relative;
        bottom: 0;
    }

    #mainForm {
        width: 100%;
        height: 500px;
        position: relative;
    }

    #aliveStats {
        margin-top: 120px;
        width: 85%;
    }

    #centerPanel form {
        height: 200px;
        width: 85%;
    }

    form input {
        width: 95%;
    }

    .userCard {
        width: 50%;
        display: inline-block;
    }
}

@media(max-width: 650px) {

    #centerPanel  {
        display: block;
    }

    .userCard {
        width: 100%;
        display: block;
    }
}